# 1. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 2. Importing merged dataset consisting of orders, products, and customers

In [2]:
path = r'/Users/matthewabrams/Desktop/12-28-2021 Instacart Basket Analysis'
df_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
df_merged.drop(columns = '_merge', inplace = True) 
df_merged

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,unknown_product_name
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,False
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,False
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,False
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,False
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32433025,1320836,202557,17,2,15,1.0,False,43553,2,1,Orange Energy Shots,64,7,3.7,False
32433026,31526,202557,18,5,11,3.0,False,43553,2,1,Orange Energy Shots,64,7,3.7,False
32433027,758936,203436,1,2,7,NaN,True,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,False
32433028,2745165,203436,2,3,5,15.0,False,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,False
32433029,3093936,205420,1,4,14,NaN,True,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,False

In [3]:
df_merged.columns

Index(['order_id', 'user_id', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'first_order',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', 'unknown_product_name'],
      dtype='object')

# 3. Deriving a new column: 'price_range' from 'prices' by user function

In [4]:
# Defining a function that returns the price category of all prices

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High-range product'
  else: 
    return 'Not enough data'

In [5]:
# Applying a new column: 'price_range' based off the price_label function for all rows

df_merged['price_range'] = df_merged.apply(price_label, axis=1)
df_merged

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,unknown_product_name,price_range
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,False,Mid-range product
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,False,Mid-range product
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,False,Mid-range product
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,False,Mid-range product
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,False,Mid-range product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32433025,1320836,202557,17,2,15,1.0,False,43553,2,1,Orange Energy Shots,64,7,3.7,False,Low-range product
32433026,31526,202557,18,5,11,3.0,False,43553,2,1,Orange Energy Shots,64,7,3.7,False,Low-range product
32433027,758936,203436,1,2,7,NaN,True,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,False,Mid-range product
32433028,2745165,203436,2,3,5,15.0,False,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,False,Mid-range product
32433029,3093936,205420,1,4,14,NaN,True,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,False,Mid-range product

In [6]:
# Finding the frequency of all ranged prices

df_merged['price_range'].value_counts()

Mid-range product     21894136
Low-range product     10126339
High-range product      412555
Name: price_range, dtype: int64

# 3. Information for orders day of the week and hours of the day

In [7]:
# Finding the frequency of how many products were ordered per day of week

df_merged['order_day_of_week'].value_counts()

0    6209410
1    5665604
6    4500101
2    4217610
5    4209334
3    3843929
4    3787042
Name: order_day_of_week, dtype: int64

In [8]:
# Finding the frequency of how many products were ordered per hour of day

df_merged['order_hour_of_day'].value_counts()

10    2764288
11    2738483
14    2691448
15    2664420
13    2663169
12    2620719
16    2537358
9     2456591
17    2089385
8     1719888
18    1637858
19    1259335
20     976991
7      891900
21     796341
22     634715
23     402593
6      290763
0      218925
1      115780
5       88054
2       69429
4       53280
3       51317
Name: order_hour_of_day, dtype: int64

In [9]:
# Top 15 busiest times of the week by day and hour when products were ordered. Most products ordered occurred on weekends between 9 AM and 4 PM

df_merged.value_counts(['order_day_of_week','order_hour_of_day']).head(15)

order_day_of_week  order_hour_of_day
0                  14                   564872
                   13                   558393
                   15                   552042
1                  10                   550223
0                  11                   535711
                   12                   535265
                   10                   516116
1                  11                   509651
                   9                    506109
0                  16                   501592
1                  12                   462988
                   13                   457449
                   14                   453175
                   15                   442858
0                  9                    441272
dtype: int64

# 4. Deriving a new column: 'busiest day' from 'order_day_of_week by for loop

In [10]:
# Returning a for loop for prepartion of new column
# Define busiest days as Saturday and Sunday
# Define least busiest days as Tuesday and Wednesday
# Define regularly busy days as other days not mentioned (Monday, Thursday and Friday)

result = []

for value in df_merged["order_day_of_week"]:
  if value == 0 or value == 1:
    result.append("Busiest days")
  elif value == 3 or value == 4:
    result.append("Least busiest days")
  else:
    result.append("Regularly busy")

In [11]:
# Applying new column based on for loop

df_merged['busiest_day'] = result

In [12]:
df_merged

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,unknown_product_name,price_range,busiest_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,False,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,False,Mid-range product,Least busiest days
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,False,Mid-range product,Least busiest days
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,False,Mid-range product,Least busiest days
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,False,Mid-range product,Least busiest days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32433025,1320836,202557,17,2,15,1.0,False,43553,2,1,Orange Energy Shots,64,7,3.7,False,Low-range product,Regularly busy
32433026,31526,202557,18,5,11,3.0,False,43553,2,1,Orange Energy Shots,64,7,3.7,False,Low-range product,Regularly busy
32433027,758936,203436,1,2,7,NaN,True,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,False,Mid-range product,Regularly busy
32433028,2745165,203436,2,3,5,15.0,False,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,False,Mid-range product,Least busiest days
32433029,3093936,205420,1,4,14,NaN,True,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,False,Mid-range product,Least busiest days

In [13]:
# Finding the frequency of busiest days

df_merged['busiest_day'].value_counts()

Regularly busy        12927045
Busiest days          11875014
Least busiest days     7630971
Name: busiest_day, dtype: int64

# 5. Deriving a new column: 'busiest_period_of_day' from 'order_hour_of_day' by for loop

In [14]:
# Returning a for loop for prepartion of new column
# Define most orders occuring from 9 AM to 5 PM (exclusive of 5:00 PM)
# Define fewest orders occuring from 11 PM to 7 AM (exclusive of 7:00 AM)
# Define average orders occuring for other times not mentioned (From 7 AM to 9 AM (exclusive of 9:00 AM), From 5 PM to 11 PM (exclusive of 11:00 PM))

result_2 = []

for value in df_merged['order_hour_of_day']:
  if (value >= 9 and value <= 16):
    result_2.append("Most orders")
  elif (value == 23 or value <= 6):
    result_2.append("Fewest orders")
  else:
    result_2.append("Average orders")

In [15]:
# Applying new column based on for loop

df_merged['busiest_period_of_day'] = result_2

In [16]:
df_merged

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,unknown_product_name,price_range,busiest_day,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,False,Mid-range product,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,False,Mid-range product,Least busiest days,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,False,Mid-range product,Least busiest days,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,False,Mid-range product,Least busiest days,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,False,Mid-range product,Least busiest days,Most orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32433025,1320836,202557,17,2,15,1.0,False,43553,2,1,Orange Energy Shots,64,7,3.7,False,Low-range product,Regularly busy,Most orders
32433026,31526,202557,18,5,11,3.0,False,43553,2,1,Orange Energy Shots,64,7,3.7,False,Low-range product,Regularly busy,Most orders
32433027,758936,203436,1,2,7,NaN,True,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,False,Mid-range product,Regularly busy,Average orders
32433028,2745165,203436,2,3,5,15.0,False,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,False,Mid-range product,Least busiest days,Fewest orders
32433029,3093936,205420,1,4,14,NaN,True,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,False,Mid-range product,Least busiest days,Most orders

In [17]:
# Finding the frequency of busiest hours

df_merged['busiest_period_of_day'].value_counts()

Most orders       21136476
Average orders    10006413
Fewest orders      1290141
Name: busiest_period_of_day, dtype: int64

# 6. Exporting clean data as pkl file

In [18]:
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'instacart_clean_data.pkl'))